# Port configuration for the dev server
PORT=5173

# Application Details
VITE_APP_TITLE=VoiceCheck
VITE_APP_VERSION=1.0.0

# API base endpoint
VITE_API_URL=http://localhost:8000/api

# Backend Server Port
BACKEND_PORT=8000

# MongoDB URI connection string
MONGODB_URI=mongodb://127.0.0.1:27017/voicecheck

# JWT Sign secret
JWT_SECRET=voicecheck_super_secret_jwt_sign_key_9901
